
{% extends "layout.html" %}
    
{% block content %}

    <!-- <h2>New User Registration</h2> -->
    <!-- updated with V3.04 to work wiht WTF form  -->
    <h2>{{ title }}</h2>

    <div class="container">
        <form name="register" action="" method="post" novalidate>

            {{ rform.hidden_tag() }}

            <p>
                {{ rform.email.label}} <br>
                {{ rform.email(size=35) }}
                {% for error in rform.email.errors %}

                    <span class="error-message">{{ error }}</span>

                {% endfor %}
            </p>

            <p>
                {{ rform.password.label }} <br>
                {{ rform.password(size=35) }}
                {% for error in rform.password.errors %}

                    <span class="error-message">{{ error }}</span>

                {% endfor %}
            </p>

            <p>
                {{ rform.password_confirm.label }} <br>
                {{ rform.password_confirm(size=35) }}
                {% for error in rform.password_confirm.errors %}

                    <span class="error-message">{{ error }}</span>

                {% endfor %}
            </p>

            <p>
                {{ rform.first_name.label }} <br>
                {{ rform.first_name(size=35) }}
                {% for error in rform.first_name.errors %}

                    <span class="error-message">{{ error }}</span>

                {% endfor %}
            </p>

            <p>
                {{ rform.last_name.label}} <br>
                {{ rform.last_name(size=35) }}
                {% for error in rform.last_name.errors %}

                    <span class="error-message">{{ error }}</span>

                {% endfor %}
            </p>

            <p>
                {{ rform.submit() }} 
            </p>

        </form>

    </div>

{% endblock %}
